// Place all the styles related to the calcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2{
  color: red;
  font-size:7em;
}

.center{
  text-align: center;
}

h3{
  color: blue;
  font-style: oblique;
  font-size: 5em
}
.botton{
  font-weight: bold;
  background-color: yellow;
  color: green;
  width: 120px;
  height: 30px

}

h1{
  font-size: 3em;
  color: white;
}
.minato{
  background-image:  url("/images/minato.jpg");
  height: 800px;
  background-size: cover;
}
.next{
  color: white;
  font-size: 3em;

}
.t{
  margin-top: 50px;
}
.tensai{
  font-size: 6em;
}
